.p-tag {
    display: flex;
    flex-direction: row-reverse;
    margin: 1%;
    font-size: 1vh;
    color: green;
}

.p-tag1 {
    display: flex;
    flex-direction: row-reverse;
    margin: 1%;
    font-size: 1vh;
    color: rgb(247, 4, 4);
}