
 .backgroundimasd{
     height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #1d2c41, #B7C9D9, #fc131396, #22131a);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    position: relative;
    animation: backgroundChange 20s ease-in-out infinite;
    display: flex;
    justify-content: center;
    /* align-items: center; */
      text-decoration : none;
    overflow: hidden;
    flex-wrap: wrap;

}

.portButton {
color: #fff;
    height: 3vh;
    
    /* width: 20vh; */
    margin: 1%;
    font-size: 2vh;
    background-color: red;
    border-radius: 3vh;
    margin-bottom: 15px;
    border: 0 solid black;
    border-bottom: 1 solid black;

}

.bearedd{
  z-index: 0;
  margin-top: 20%;
   margin-right: 30%;
   animation: beard 10s infinite;
}
@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes beard {
 0%, 100%{
  margin-right: 30%;
  animation-timing-function:  ease-out;
  
 }
  50%{
  margin-right: 0%;
  animation-timing-function: 8s ease-in;
 } 
}
.white-panelsd{
background-color: rgba(255,255, 255, 1);
    /* height: 500px; */
    border-radius: 5%;
    z-index: 1;
   text-decoration : none;
    display: flex;
    top: -40vw;
    margin: 5vh;
    width: 30vh;
    height: 40vh;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #00000096;
    flex-direction: column;
    color: #1d2c41;
    
}

.links{
     text-decoration : none;
}

#logod{
  margin-top: 5vh;
  margin-bottom: 5vh;

}


.product_container{
  display:flex;
  flex-direction: row;
  flex-wrap : wrap;
  width: 100%;
}
.product{
  width:25%;
  height: 100%;
  margin-bottom : 4%;
  /* border: 1px solid black; */
}
.product_img_div{
  text-align: center;
}
.product_img{
  max-width:95%;
     text-decoration : none;
  max-height:100%;
}
.product_title{
  font-size : 0.9rem;
     text-decoration : none;
  font-weight: 600;
  margin : 4%;
}
.product_des{
  font-size : 1rem;
  margin : 2% 3% 2% 4%;
     text-decoration : none;
}
.product_mon{
     text-decoration : none;
  font-size : 1.2rem;
  margin : 2% 3% 1% 4%;
}
.product_link_div{
  text-align: center;
}
.product_link{
  position:inherit;
  font-size : 1.2rem;
  font-weight: 500;
  text-decoration: none;
  background : #0B5ED9;
  color : white;
  border-radius : 10px;
  padding :5px;
}